 .dashboard-grid-title{
    width: 100%;

    span{
        font-size:1.2rem;
        font-weight: 500;
    }
}
.dashboard-grid-types{
    width: 20%;    
    box-shadow: -1px 5px 11px 0px #efe6e6;

    // @include borders-app;

    .dashboard-grid-types-container{

        margin: 1rem;

        div{
            margin-top: 0.5rem;
        }
        .dashboard-grid-types-image{
            width: 2rem;
            height: 2rem;
            border-radius: 10rem;   


            img{
                width: 60%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding-top: 0.3rem;
            }
        }


        .dashboard-grid-types-name{
            font-size: 0.6rem;
        }
        .dashboard-grid-types-numbers{
            font-size: 1.3rem;
            font-weight: 500;
        }
    }
}
.dashboard-grid-table{
    width: 100%;    
    box-shadow: -1px 5px 11px 0px #efe6e6;

    table{
        border-spacing: 0px;
        // display: table;
        font-size: 0.7rem;
        margin: 1rem auto;
        text-align: left;
        width: 95%;

    }
    th {
        font-size: 0.6rem;
        width: 7rem;

        .thead-img{
            align-items: center;
            display: flex;

            span{
                margin-right: 0.2rem;
            }

            img{
                width: 1rem;
                margin-left: 0.3rem;
            }
        }
    }
    td  {
        border-width: 1px;
        border-style: none none solid;
        border-color: gray;
        padding: 0.5rem 0;
    }
}

.pagination{
    width:100%;

    .pagination-container{
        display:flex;

        .pagination-left{
            width: 80%;
            display:flex;
        }
        .pagination-right{
            width: 20%;

            ul{
                display:flex;
                flex-direction: row-reverse;
                justify-content: space-between;
                width: 100%;

                li{

                }
            }
        }
    }
}