

.controller{
    // @include borders-app;
    width: 20%;
    height: 90.9vh;
    position: absolute;
    box-shadow: 1px 10px 13px 4px #efe6e6;

    .controller-container{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 1.5rem auto;

        .controller-organization{
            display: flex;

            .controller-organization-container{
                width: 15%;
                
                img{
                    width: 80%;
                }

            }
            .controller-organization-title{
                width: 68%;
            }
        }
        .controller-organization-option{
            margin-top: 2rem;

            .controller-currentPage-ul{
                width: 100%;
                display:flex;
                flex-wrap:wrap;

                span{
                    width: 100%;
                }
                .controller-currentPage-li-1{
                    width: 15%;
                }
                .controller-currentPage-li-2{
                    width: 75%;
                }
                img{
                    width: 80%;
                }
                                            
            }
        }

        .controller-currentPage{
            display: flex;

            .controller-currentPage-container{
                width: 15%;
                
                img{
                    width: 80%;
                }

            }
            .controller-currentPage-title{
                width: 68%;
            }
        }
    }
}