@mixin borders-app{
    border: 1px solid black;
}


@mixin login-field{
    height: 2rem;
    border-radius: 0.5rem;
}


li{
    list-style: none;
}

.login{
    // @include borders-app;
    width: 85%;
    margin: 3rem auto;
    height: 100vh;

    .login-container{
        margin-top: 1rem;
        // @include borders-app;

        .login-grid{
            display: flex;
            flex-wrap: wrap;
            height: 70vh;
            // gap: 1rem;
            justify-content: space-between;

            .login-item1{
                width: 100%;
                // @include borders-app;

                .login-item1-img{
                    width: 21%;
                }
            }
            .login-item2{
                width: 45%;
                // @include borders-app;

                .login-item2-img{
                    width: 100%;
                }
            }
            .login-item3{
                width: 45%;
                // @include borders-app;

                .login-item3-container{
                    width:80%;
                    margin: 0 auto;

                    .login-item3-welcome:last-child{
                        margin-top: 2rem;

                        input{
                            width:100%;
                            @include login-field;
                            border: 1px solid #c9c9c9;
                        }
                        .login-item3-welcome-form-forgotpassword{
                            margin-top: 1rem;
                        }
                        .login-item3-welcome-form-button{
                            margin-top: 1.5rem;
                            width: 100%;

                            button{
                                width: 100%;
                                background-color:#39cdcc;
                                border:none;
                                @include login-field;
                            }
                        }

                    }
                    .login-item3-welcome-title{
                        font-size: 1.5rem;
                        font-weight: 500;
                        color:  #213f7d;
                    }
                }
            }
        }
    }
}



.details-grid{
    @include borders-app;
    position: relative;
    left: 25%;
    margin-top: 3rem;
    height: 65vh;
    width: 70%;

    .details-grid-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;

        .details-grid-previous{
            width: 100%;
            @include borders-app;
        }
        .details-grid-title{
            width: 100%;
            @include borders-app;
            display: flex;
            justify-content: space-between;

            span{
                width: 60%;
            }
            button{
                width: 18%;
            }
        }
        .details-grid-table{
            width: 100%;
            @include borders-app;
            display:flex;

            div:nth-child(odd){
                width: 13%;
            }
            div:nth-child(even){
                width: 20%;
            }
        }


        .details-options{
            width: 100%;
            @include borders-app;

            .details-options-container {
                display: flex;
                justify-content: space-around;

            }
        }
        .detials-display{
            width: 100%;
            @include borders-app;

            .detials-display-container{

                .detials-display-grid{
                    display: flex;
                    flex-wrap:wrap;


                    .detials-display-grid-title{
                        width: 100%;
                    }

                    .detials-display-grid-item{
                        width: 20%;
                        @include borders-app;
                    }
                }
            }
        }
    }

}