@mixin borders-app{
	border: 1px solid black;
}
.login{
	@include borders-app;
	width: 90%;
	margin: 0 auto;
	height: 100vh;

	.login-container{
		margin-top: 1rem;
		@include borders-app;

		.login-grid{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: 25% auto;
			height: 70vh;

			.login-item1{
				grid-area: 1 / 1;
				@include borders-app;
			}
			.login-item2{
				grid-area: 2 / 1;
				@include borders-app;
			}
			.login-item3{
				grid-area: 2 / 2;
				@include borders-app;
			}
		}
	}
}










.dashboard{
	@include borders-app;
}


.menu{
	width: 98%;
	margin: 0 auto;
	@include borders-app;

	.menu-container{
		display: flex;
		flex-direction: row;

		.menu-logo{
			width: 20%;
		}
		.menu-search{
			width: 60%;
		}
		.menu-docs{
			width: 6%;
		}
		.menu-alerts{
			width: 4%;
		}
		.menu-profile{
			width: 10%;
		}
	}
}


.controller{
	@include borders-app;
	width: 20%;
	height: 94vh;
	position: absolute;

	.controller-container{
		display: flex;
		flex-direction: column;
	}
}


li{
	list-style: none;
}

.dashboard-grid{
	@include borders-app;
	position: relative;
	left: 25%;
	margin-top: 3rem;
	height: 65vh;
	width: 70%;

	.dashboard-grid-container{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 1rem;

		.dashboard-grid-title{
			width: 100%;
		}
		.dashboard-grid-types{
			width: 20%;
			@include borders-app;
		}
		.dashboard-grid-table{
			width: 100%;
			@include borders-app;
		}
		.pagination{
			width:100%;

			.pagination-container{
				display:flex;

				.pagination-left{
					width: 80%;
					display:flex;
				}
				.pagination-right{
					width: 20%;

					ul{
						display:flex;
						flex-direction: row-reverse;
				    justify-content: space-between;
				    width: 100%;

						li{

						}
					}
				}
			}
		}
	}

}



.details-grid{
	@include borders-app;
	position: relative;
	left: 25%;
	margin-top: 3rem;
	height: 65vh;
	width: 70%;

	.details-grid-container{
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;

		.details-grid-previous{
			width: 100%;
			@include borders-app;
		}
		.details-grid-title{
			width: 100%;
			@include borders-app;
			display: flex;
			justify-content: space-between;

			span{
				width: 60%;
			}
			button{
				width: 18%;
			}
		}
		.details-grid-table{
			width: 100%;
			@include borders-app;
			display:flex;

			div:nth-child(odd){
				width: 13%;
			}
			div:nth-child(even){
				width: 20%;
			}
		}


		.details-options{
			width: 100%;
			@include borders-app;

			.details-options-container {
				display: flex;
				justify-content: space-around;

			}
		}
		.detials-display{
			width: 100%;
			@include borders-app;

			.detials-display-container{

				.detials-display-grid{
					display: flex;
					flex-wrap:wrap;


					.detials-display-grid-title{
						width: 100%;
					}

					.detials-display-grid-item{
						width: 20%;
						@include borders-app;
					}
				}
			}
		}
	}

}